html, body {
  margin: 0;
  padding: 0; 
}

body{
  background-color: #e8d1ff; 
}

div {
  padding: 2px;
  text-align: center;
}

.grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 820px 1fr;
  gap: 0;
  justify-items: center;
  align-items: center;
  width: 100%;
  margin: 5px auto;
}

.left-column {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-column {
  width: 820px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right-column {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
}

canvas {
  border: 10px solid goldenrod;
  display: block !important;
  margin: 0 !important;
  position: static !important;
}

.bouncing-text {
  font-family: 'Arial', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: #333;
  animation: bounce 2s infinite ease-in-out;
}

@keyframes bounce {
  0%, 100% {
      text-shadow: 5px 5px 0 #ff00c3, 10px 10px 0 #00d4ff;
  }
  50% {
      text-shadow: -5px -5px 0 #00d4ff, -10px -10px 0 #ff00c3;
  }
}

h1{
  text-align: center;
  font-size: 35px; 
  font-family: 'Arial', sans-serif;
  color: #333; 
}

p{
  text-align: center;
  font-size: 20px;
  font-family: 'Arial', sans-serif;
  color: #666;
  max-width: 600px;
  margin: 0 auto 20px auto;
}
